body {
  font-family: "Space Grotesk", sans-serif;}


.geral {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.texto {
  background-color: rgba(197, 188, 176, 0.425);
  padding-left: 20px; padding-top: 10px;
  font-family:"Space Grotesk", sans-serif;
  font-size: 20px;
}


.photo {
  max-width: 100%;
  height: auto;
}

.nome {
  vertical-align: top;

}



.social {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 50px 50px;
  align-items: center;
}

.insta {
  width: 40px;
}

.zap { 
  width: 60px;
}